<div class="row featurette">

    <div class="col-md-7">

        <h2 class="featurette-heading text-muted">Some Info about this blog</h2>

        <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <br>

        <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>

    </div>

    <div class="col-md-5">

        <img class="featurette-image img-responsive center-block border border-info rounded"
            src="https://image.freepik.com/free-vector/logo-template-with-airplane_23-2147498225.jpg" alt="Placeholder"
            style="width: 20vw;">

    </div>

</div>